html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

#root {
    margin: 0;
    padding: 0;
    width: 300px;
    box-sizing: border-box;
}

.popup-container {
    text-align: center;
    overflow: hidden;
    transition: .25s ease-in-out;
    width: 300px;
}

.popup-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.popup-title {
    font-size: 1.5em;
}

.popup-intro {
    padding: 15px;
    font-size: large;
}

.popup-footer {
    user-select: none;
}

.spinning-logo {
    animation: spin 10s linear infinite;
    display: inline-block;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}