.App {
  text-align: center;
  float: left;
  position: relative;
  clear: both;
  background: #fff;
  overflow: hidden;
  margin-top: 16px;
  margin-right: 16px;
  margin-left: 4px;
  border-radius: 4px;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.3);
  box-sizing: content-box;
  transition: .25s ease-in-out;
  width: 300px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  padding: 15px;
  font-size: large;
}

.App-footer {
  user-select: none;
}

.App-crash {
  height: 80px;
  padding: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes App-fade-in { from { opacity: 0; } to { opacity: 1; } }

.App-fade {
  opacity: 0;
  animation: App-fade-in ease 250ms;
  animation-fill-mode: forwards;
  animation-duration: 250ms;
}
